@CHARSET "UTF-8";
/*관리자 페이지 : 회원관리 */
section#memberList-container {
	text-align: center;
}

section#memberList-container table#tbl-member {
	width: 100%;
	border: 1px solid gray;
	border-collapse: collapse;
}

table#tbl-member th, table#tbl-member td {
	border: 1px solid gray;
	padding: 10px;
}

#search-container button, .sumitBtn {
	color: white;
	border: none;
	top: 0;
	left: 0;
	width: 120px;
	height: 30px;
	background: rgb(255, 138, 61);
	border-radius: 10px;
	cursor: pointer;
}

#search-container form, #search-container div {
	display: inline;
	margin: 3px;
}

section#memberList-container div#neck-container {
	padding: 0px;
	height: 50px;
}

section#memberList-container div#search-container {
	margin: 0 0 10px 0;
	padding: 3px;
	float: left;
}

#br_email, #phone, #insurance, #br_cp_id, #br_cp_name, #br_name,
	#memberId, #email, #memberRole {
	text-align: center;
}

#insurance, #memberRole {
	width: 50px;
}

#tbl-member input {
	border: none;
}

#tbl-member {
	margin: 50px 0;
}

/*페이징 : 페이지당회원수*/
section#memberList-container div#numPerPage-container {
	float: right;
	margin-top: 10px;
}

section#memberList-container form#numPerPageFrm {
	display: inline;
}
/*페이징 : 페이지바 */
section#memberList-container div#pageBar {
	margin-top: 10px;
	text-align: center;
}

section#memberList-container div#pageBar span.cPage {
	color: #0066ff;
	margin-right: 5px;
}

section#memberList-container div#pageBar a {
	margin-right: 5px;
}